/* style.css */
.cardStyle
  display: flex
  height: 100%

.cardInfo
  margin: auto
  min-width: 400px
  display: flex
  flex-direction: column
  text-align: center
  position: relative
  z-index: 50

.mySvg
  min-height: 480px
  min-width: 410px
  top: -5px
  left: -5px
  position: absolute
  z-index: -5