.contacts {
  padding-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.contact {
  margin: 0;
  padding: 0;
}

.contact li {
    list-style-type: none;
    margin-bottom: 10px;
    width: 100%;
}

.contact li:first-child {
  border-bottom: 1px solid grey;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.contact li:last-child {
  margin-bottom: 0px;
  padding: 10px 0;
}

@media screen and (max-width: 400px) {
  .contacts {
    width: 100vw
  }

  b {
    font-size: .8rem;
  }
}
