:global(html, body) {
    height: 100%;
    margin: 0;
    background-color: hsl(0, 0%, 10%);
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 20px;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

:global(*) {
  box-sizing: border-box;
}

:global(#app) {
  height: 100%;
}

:global(.content) {
    font-size: .9rem;
}

:global(.light) {
    background: hsl(0, 0%, 100%);
}

:global(.on-light) {
    color: hsl(0, 0%, 20%);
}

:global(.on-light-link) {
    color: hsl(0, 0%, 40%);
}

:global(.on-light-link:visited) {
    color: hsl(0, 0%, 45%);
}

:global(.on-light-link:active) {
    color: hsl(0, 0%, 30%);
}
