:global {
  html, body {
    height: 100%;
    margin: 0;
    background-color: hsl(0, 0%, 10%);
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 20px;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden
  }

  * {
    box-sizing: border-box;
  }

  #app {
    height: 100%;
  }

  .content {
    font-size: .9rem;
  }

  .light {
    background: hsl(0, 0%, 100%);
  }

  .on-light {
    color: hsl(0, 0%, 20%);
  }

  .on-light-link {
    color: hsl(0, 0%, 40%);
  }

  .on-light-link:visited {
    color: hsl(0, 0%, 45%);
  }

  .on-light-link:active {
    color: hsl(0, 0%, 30%);
  }
}